# Python
venv/
server-ai/venv/
__pycache__/

# Binaries
*.exe
*.dll
*.so

# FFmpeg
external requirements/

# Node
node_modules/

# Environment variables
.env
server-ai/.env

# Temp audio files
server-ai/temp_audio-*.webm

# Uploads
server-node/uploads/

