# Python
.env
venv/
server-ai/venv/
server-ai/.env
__pycache__/
uploads/
# Binaries
*.exe
*.dll
*.so
*.webm

# FFmpeg
external requirements/

# Node
node_modules/

# Environment variables
.env
server-ai/.env

# Temp audio files
server-ai/temp_audio-*.webm

# Uploads
server-node/uploads/

